<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css"  type="text/css" rel="stylesheet" >
    <title th:text="${msg}">Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="d-grid d-md-flex justify-content-md-end">
        <a type="button" class="btn btn-outline-primary"th:href="@{/reports/pdf}">Download PDF</a>
      </div>
      <div class="d-grid d-md-flex justify-content-md-end">
        <a type="button" class="btn btn-outline-primary"th:href="@{/users/export/excel}">Download Excel</a>
      </div>
      <div class="d-grid d-md-flex justify-content-md-end">
        <a type="button" class="btn btn-outline-primary"th:href="@{/reports/csv}">Download CSV</a>
      </div>
      <div class="container">
          <table class="table">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>nama</th>
                      <th>Posisi</th>
                      <th>Company Name</th>
                      <th>Company Id</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr th:each="employee : ${employees}">
                      <td th:text="${employee.id}"></td>
                      <td th:text="${employee.nama}"></td>
                      <td th:text="${employee.posisi}"></td>
                      <td th:text="${employee.getCompanyName}"></td>
                      <td th:text="${employee.getCompanyId}"></td>
                      <td>
                        <a th:href="@{'/update/' + ${employee.id}}" class="btn btn-primary">Update</a>
                        <a th:href="@{'/delete/' + ${employee.id}}" class="btn btn-danger">Delete</a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="container">
        <a th:href="@{/add}" class="btn btn-primary">Add</a>
      </div>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>